@charset "UTF-8";



* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gray;
}

h1 {
    text-align: center;
    color: black;
    padding: 10px;
}

menu {
    display: none;
    margin: auto;
}

ul {
    list-style-type: none;
}

li {
    background-color: rgb(54, 54, 54);
    text-align: center;
    border: 1px solid grey;
}

a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(54, 54, 54);
}

a:hover {
    background-color: rgb(77, 76, 76);
}

#menuburguer {
    display: flex;
    justify-content: center;
    padding: 10px;
}


body {
    background-color: gainsboro;
}

h2 {
    text-align: center;
    padding: 10px;
}

p {
    line-height: 20px;
    text-indent: 20px;
    text-align: justify;
}

main {
    display: block;
    margin: 30px auto 30px auto;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    width: 80vw;
    font-size: 1em;
}
