@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Passion One', cursive;
}

header > h1 {
    display: block;
    background-color: black;
    color: white;
    padding: 50px 0px 5px 0px;
    text-align: center;
    font-family: 'Passion One', cursive;
    font-size: 68px;
    font-weight: bold;
    font-variant: small-caps;
}

header > h2 {
    display: block;
    background-color: black;
    color: white;
    padding: 5px 0px 50px 0px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

header > h2 > a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover { 
    text-decoration: underline;
}

main > p {
    display: block;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 50%;
    min-width: 513px;
    font-weight: 100;
    font-size: 23px;
    margin: 50px 30px;
    font-family: 'Sriracha', cursive;
    line-height: 2em;
}

div > p {
    display: block;
    color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 50%;
    min-width: 213px;
    background-color: rgba(0, 0, 0, 0.377);
    max-width: 300px;
    font-weight: 100;
    font-size: 23px;
    margin: 50px 30px;
    font-family: 'Sriracha', cursive;
    line-height: 2em;
}

div#joana {
    min-width: 250px;
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

div#jornal {
    min-width: 250px;
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}